
<div class="container">
  <div class="left-image">
    <img src="" title="TEMP IMAGE" />
  </div>
  <div class="right-info">
    <h5>{{seriesItem.title}}</h5>

    <strong>Creator:</strong> <br />
    <div *ngFor="let creatorAuthor of seriesItem.creatorAuthors">
      {{creatorAuthor.firstName_English}} {{creatorAuthor.lastName_English}} ( {{creatorAuthor.lastName}}
      {{creatorAuthor.firstName}} )<br />
    </div>
    <strong>Production Studio:</strong> <br />
    <div *ngFor="let productionStudio of seriesItem.productionStudios">
      {{productionStudio.productionStudioName}}
      <span  *ngIf="productionStudio.websiteURL">
        <a href="{{productionStudio.websiteURL}}" target="_blank">{{productionStudio.websiteURL}}</a> &nbsp; <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
      </span>
    </div>
    <strong>Distributor:</strong><br />
    <div *ngFor="let distributor of seriesItem.distributors">
      {{distributor.distributorName}} 
      <span *ngIf="distributor.websiteURL">
        <a href="{{distributor.websiteURL}}" target="_blank">{{distributor.websiteURL}}</a> &nbsp; <i class="fa fa-external-link  fa-fw" aria-hidden="true"></i>
      </span>
    </div>
    <strong>Format:</strong> {{seriesItem.format.formatName}} <br />
  </div>
</div>
<p> <span [innerHTML]="seriesItem.description"></span> </p>