<h2>Links</h2>

	    <table border="0" cellspacing="0" cellpadding="0">
	      <tr>
		<td>
		  <h4> <a href="#news">Anime News</a> | <a href="#general">General Anime</a> | <a href="#merchandise">Anime Merchandise</a> | <a href="#distributors">Anime Distributors</a> | <a href="#officials_us">Offical Sites - US</a> | <a href="#officials_jpn">Official Sites - Jpn</a> | <a href="#cons">Conventions</a> </h4>
		  <table border="0" cellspacing="0" cellpadding="0" width="100%">
		    <tr>
		      <td> <br><h3 id="news">Anime News</h3> </td>
		    </tr>
		    <tr>
		      <td>
			<p> <a href="http://www.animenation.net/news/news.php3" target="_blank">AnimeNation News</a><br> Run by John of AnimeNation.  Regularly updated Monday - Friday. </p>
		        <p> <a href="http://www.animenewsnetwork.com" target="_blank">Anime News Network</a><br> Good source for anime related news. </p>
			<p> <a href="http://www.animenewsservice.com/" target="_blank">Anime News Service</a><br> Up to date anime news, but poor site design. </p>
			<p> <a href="http://www.animeondvd.com" target="_blank">Anime on DVD</a><br> News, Anime DVD Reviews, Release Dates, and more.  Highly recomended. </p>
			<p> <a href="http://www.wildcoast.org/dvd/index.html" target="_blank">DVD AniMania</a><br> News, Reviews, Releases, find out what anime is on TV, more </p>
		      </td>
		    </tr>
		    <tr>
		      <td> <br><h3 id="#general">General Anime</h3></td>
		    </tr>
		    <tr>
		      <td>
			<p> <a href="http://www.akadot.com/" target="_blank">Akadot</a><br> News, Interviews, anime DVD reviews, affiliated with NewType USA. </p>
			<p> <a href="http://www.animefu.com" target="_blank">Animefu</a><br> Anime DVD reviews.  Affiliated with Slashdot.org. </p>
			<p> <a href="http://www.animejump.com" target="_blank">Anime Jump!</a><br> Anime DVD reviews. </p>
			<p> <a href="http://www.animenfo.com" target="_blank">AnimeNfo</a><br> This site is a good source for information about pretty much any anime series.  Brief intro, # of episodes, original release date, production studio, cast listing. </p>
			<p> <a href="http://www.animeprime.com" target="_blank">Anime&acute;</a><br> Dedicated to sniffing out editing done to anime. </p>
			<p> <a href="http://www.animewallpapers.com" target="_blank">Anime Wallpapers</a><br> One of the best sources for anime related wallpapers on the web. </p>
			<p> <a href="http://www.animex.com" target="_blank">AnimeX</a><br> Site is in beta form.  Fanart, Fan Fiction, Show info.  Brought to you by the creator of gundam.com </p>
			<p> <a href="http://www.anime.jyu.fi/~anipike/" target="_blank">Anime Web Turnpike</a><br> The largest collection of anime related links on the net. </p>
			<p> <a href="http://www.crystalacids.com" target="_blank">Crystal Acids</a><br> English Voice Actor & Production Staff Database. </p>
			<p> <a href="http://www.nausicaa.net" target="_blank">Nausicaa.net</a><br> Fansite dedicated to news and info for Studio Ghibli. </p>
		      </td>
		    </tr>
		    <tr>
		      <td> <br><h3 id="merchandise">Anime Merchandise</h3></td>
		    </tr>
		    <tr>
		      <td>
			<p> <a href="http://www.animenation.com" target="_blank">AnimeNation</a><br> Large selection of anime related items (domestic and import).  Check other sites before you buy, might find them cheaper elsewhere. </p>
			<p> <a href="http://www.asylum-anime.com" target="_blank">Asylum Anime</a><br> Decent selection of mechandise.  Poor site design, and poor ordering system (order by email).  Anime music CD's are cheap, but could possibly be bootlegs. </p>
			<p> <a href="http://www.animecastle.com" target="_blank">Anime Castle</a><br> Prices are reasonable.  Have some of the harder to find wallscrolls.
			<p> <a href="http://www.cdjapan.co.jp" target="_blank">CD Japan</a><br> Import Only.  Good selection of Region 2 DVD's and anime soundtracks, but expect to pay import prices. </p>
			<p> <a href="http://www.deepdiscountdvd.com" target="_blank">Deep Discount DVD</a><br> A good place to buy DVD's online.  Highly recommended. </p>
			<p> <a href="http://www.dvd.com" target="_blank">DVD.com</a><br> I haven't actually ordered from this site since it changed hands a number of years ago.  So I do not know what it is like. </p>
			<p> <a href="http://www.dvdplanet.com" target="_blank">DVD Planet</a><br> Good site, good prices, good selection.  Highly recommended. </p>
			<p> <a href="http://www.dvdpricesearch.com" target="_blank">DVD Price Search</a><br> This site searches 8+ different online DVD retailers (DVD Planet, Deep Discount, Best Buy, Half, etc), and shows you the cost for each (before and after shipping).  Highly recommended. </p>
			<p> <a href="http://www.hlj.com" target="_blank">Hobby Link Japan</a><br> Good for importing toys & models.  
			<p> <a href="http://www.houseofanime.com" target="_blank">House of Anime</a><br> Decent site (much improved from earlier design), good selection, decent prices.  DVD's, Anime Soundtracks, Cels, Books, Toys, Models, more. </p>
			<p> <a href="http://japanimation.com" target="_blank">Japanimation</a><br> Nice site and selection, but I have not ordered from them. </p>	
			<p> <a href="http://www.planetanime.com" target="_blank">Planet Anime</a><br> Good for pre-orders, and competative prices.  Site could be a little better though. </p>
			<p> <a href="http://www.rightstuf.com" target="_blank">Right Stuf International</a><br> Good site and large selection.  Only place to get empty boxsets (for Bandai releases at least). </p>
			<p> <a href="http://www.suncoast.com" target="_blank">Suncoast</a><br> Site is poorly organized, and prices need to more competative.  </p>
		      </td>
		    </tr>
		    <tr>
		      <td> <br><h3 id="distributors">Anime Distributors</h3></td>
		    </tr>
		    <tr>
		      <td>
			<p> <a href="http://www.advfilms.com" target="_blank">AD Vision</a><br> Excel Saga, Gasaraki, Martian Successor Nadesico, Neon Genesis Evangelion, Rurouni Kenshin OVA's & Movie (aka Samurai X)...  </p>
			<p> <a href="http://www.animeigo.com/home.t" target="_blank">AnimEigo</a><br> Bubblegum Crisis, Kimagure Orange Road, Oh My Goddess! (OVA), Otaku no Video, Superdimensional Fortress Macross (TV), You're Under Arrest... </p>
			<p> <a href="http://www.animetrax.com/main.htm" target="_blank">ANIMEtrax</a><br> Domestic anime soundtracks.  Akira, Boogiepop Phantom, Irresponsible Captain Tylor, Macross II, Macross Plus, Martian Successor Nadesico, Samurai X (Rurouni Kenshin) OVA, Slayers Try... </p>
			<p> <a href="http://www.bandai-ent.com" target="_blank">Bandai Entertainment</a><br> Arjuna, Cowboy Bebop, Escaflowne, Love Hina, Mobile Suit Gundam, Outlaw Star, Saber Marionette J... </p>
			<p> <a href="http://www.centralparkmedia.com/index.html" target="_blank">Central Park Media</a><br> Dominion Tank Police, Now and Then, Here and There, Patlabor (TV), Ping Pong Club, Record of Lodoss War (OVA & TV), Revolutionary Girl Utena, The Slayers... </p>
			<p> <a href="http://www.funimation.com/" target="_blank">FUNimation</a><br> Blue Gender, Dragonball, Dragonball Z, Fruits Basket, Lupin the 3rd (movies), Yu Yu Hakusho </p>
			<p> <a href="http://www.manga.com/" target="_blank">Manga</a><br> Evangelion (movies), Ghost in the Shell, Macross II, Macross Plus, Ninja Scroll, Patlabor (movies), Perfect Blue... </p>
			<p> <a href="http://www.media-blasters.com/" target="_blank">Media Blasters</a><br> Berserk, Kite, Knight Hunters, Magic Knight Rayearth, Magic Users Club, Mezzo Forte, Rurouni Kenshin (TV)... </p>
			<p> <a href="http://www.pioneeranimation.com/" target="_blank">Pioneer Animation</a><br> Ah! My Goddess (movie), Ai Yori Aoshi, Akira, Cardcaptor Sakura, Chobits, Dual, El Hazard, Fushigi Yuhi, Hellsing, Lain, Lupid the 3rd (TV), Tenchi Muyo!, Trigun, Vandread, X... </p>
			<p> <a href="http://www.rightstuf.com" target="_blank">Right Stuf International</a><br> Boogiepop Phantom, His and Her Circumstance </p>
			<p> <a href="http://www.ironcat.com/" target="_blank">Studio Ironcat</a><br> Domestic Manga.  Crusher Joe, Vampire Princess Miyu... </p>
			<p> <a href="http://www.synch-point.com/" target="_blank">Synch-Point</a><br> Di Gi Charat, I'm Gonna Be An Angel!, FLCL </p>
			<p> <a href="http://www.tokyopop.com/" target="_blank">TOKYOPOP</a><br> Anime: GTO, Initial D, Samurai Girl Real Bout High School, Spring and Chaos.  Manga: Angleic Layer, Cardcaptor Sakura, Chobits, GTO, Kare Kano, Kodocha, Love Hina, Samurai Deeper Kyo, Scryed, Samurai Girl Real Bout High School... </p>
			<p> <a href="http://www.urban-vision.com/" target="_blank">Urban-Vision</a><br> Biohunter, Golgo 13, PetShop of Horrors, Vampire Hunter D, Vampire Hunter D: Bloodlust, Wicked City </p>
			<p> <a href="http://www.viz.com/" target="_blank">Viz Communications</a><br> A Chinese Ghost Story, Inu Yasha, Plese Save My Earth, Project Arms, Ranma &frac12;...  </p>
		      </td>
		    </tr>
		    <tr>
		      <td> <br><h3 id="officials_us">Official Sites - US</h3></td>
		    </tr>
		    <tr>
		      <td>
			<p> <a href="http://www.aicanime.com/" target="_blank">AIC</a><br>  </p>
			<p> <a href="http://www.cowboybebop.com" target="_blank">CowboyBebop.com</a><br>  </p>
			<p> <a href="http://www.dragonball.com" target="_blank">Dragonball.com</a><br>  </p>
			<p> <a href="http://www.dragonballz.com" target="_blank">Dragonballz.com</a><br>  </p>
			<p> <a href="http://www.escaflowne.com" target="_blank">Escaflowne.com</a><br>  </p>
			<p> <a href="http://www.escamovie.com/" target="_blank">Escaflowne the Movie</a><Br>  </p>
			<p> <a href="http://www.gainax.co.jp/menu-e.html" target="_blank">Gainax</a><br>  </p>
			<p> <a href="http://www.gundamwing.com" target="_blank">Gundam Wing.com</a><br>  </p>
			<p> <a href="http://www.gundamofficial.com" target="_blank">GundamOfficial.com</a><br>  </p>
			<p> <a href="http://www.production-ig.com/" target="_blank">Production I.G.</a><br>  </p>
			<p> <a href="http://www.neorahxephon.com" target="_blank">RahXephon</a> <br> </p>
			<p> <a href="http://www.robotech.com" target="_blank">Robotech.com</a><br>  </p>
		      </td>
		    </tr>
		    <tr>
		      <td> <br><h3 id="officials_jpn">Official Sites - Jpn</h3></td>
		    </tr>
		    <tr>
		      <td>
			<p> <a href="http://www.anime-int.com" target="_blank">AIC</a> <br> </p>
			<p> <a href="http://www.art-of-war.co.jp" target="_blank">Art of War</a> <br> </p>
			<p> <a href="http://www.gainax.co.jp" target="_blank">Gainax</a> <br> </p>
			<p> <a href="http://www.gonzo.co.jp"  target="_blank">Gonzo</a> <br> </p>
			<p> <a href="http://www.gundam-seed.net" target="_blank">Gundam Seed</a> <br> </p>
			<p> <a href="http://www.hellsing.net" target="_blank">Hellsing</a> <br> </p>
			<p> <a href="http://www.nippon-animation.co.jp/na/hunter" target="_blank">Hunter x Hunter TV</a> <br> </p>
			<p> <a href="http://www.hunter-ova.com" target="_blank">Hunter x Hunter OVA</a> <br> </p>
			<p> <a href="http://www.macross.co.jp" target="_blank">Macross</a> <br> </p>
			<p> <a href="http://www.madhouse.co.jp" target="_blank">Madhouse</a> <br> </p>
			<p> <a href="http://www.naruto.com" target="_blank">Naruto</a> <br> </p>
			<p> <a href="http://www.production-ig.co.jp" target="_blank">Production I.G</a> <br> </p>
			<p> <a href="http://www.rahxephon.com" target="_blank">RahXephon</a> <br> </p>
		      </td>
		    </tr>
		    <tr>
		      <td> <br><h3 id="cons">Anime Conventions</h3></td>
		    </tr>
		    <tr>
		      <td>
			<p> <a href="http://www.a-kon.com/" target="_blank">A-kon</a> - Dallas/Fort Worth, TX<br>  </p>
			<p> <a href="http://www.animazement.org/" target="_blank">Animazement</a> - Durham, NC<br>  </p>
			<p> <a href="http://www.acen.org/" target="_blank">Anime Central</a> - Rosemont, IL<br>  </p>
			<p> <a href="http://www.anime-expo.org" target="_blank">Anime Expo</a> - Long Beach, CA<br>  </p>
			<p> <a href="http://www.axny.org/" target="_blank">Anime Expo East</a> - New York, NY<br>  </p>
			<p> <a href="http://www.animefest.org/" target="_blank">AnimeFEST</a> - Dallas, TX<br>  </p>
			<p> <a href="http://www2.animenorth.com" target="_blank">Anime North</a> - Toronto, Ont<br>  </p>
			<p> <a href="http://www.animeoasis.org/" target="_blank">Anime Oasis</a> - Boise, ID<br>  </p>
			<p> <a href="http://www.bigappleanimefest.com/" target="_blank">BAAF</a> - Manhattan, NY<br>  </p>
			<p> <a href="http://www.fanime.com/" target="_blank">FanimeCon</a> - Santa Clara, CA<br>  </p>
			<p> <a href="http://www2.gvsu.edu/~anime/jafax/" target="_blank">JAFAX</a> - Allendale, MI<br>  </p>
			<p> <a href="http://www.katsucon.com/" target="_blank">Katsucon</a> - Baltimore, MD<br>  </p>
			<p> <a href="http://www.ohayocon.com" target="_blank">OhayoCon</a> - Cleveland, OH<br>  </p>
			<p> <a href="http://www.otakon.com" target="_blank">Otakon</a> - Baltimore, MD<br>  </p>
			<p> <a href="http://www.portconmaine.com/" target="_blank">Port Con Maine</a> - Portland, ME<br>  </p>
			<p> <a href="http://www.sakuracon.org/" target="_blank">Sakura Con</a> - Seatle, WA<br>  </p>
		      </td>
		    </tr>
		    <tr>
		      <td> <br><h3 id=""> </h3></td>
		    </tr>
		    <tr>
		      <td>
			<p> 
		      </td>
		    </tr>
		  </table>